<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC_0rPYdlsM-oqJyhRG5GVoOSJwTpe0ir8</string>
	<key>GCM_SENDER_ID</key>
	<string>1024120836899</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mycityguide</string>
	<key>PROJECT_ID</key>
	<string>mycityguide-e8828</string>
	<key>STORAGE_BUCKET</key>
	<string>mycityguide-e8828.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1024120836899:ios:62892234f86a0cb5a27296</string>
</dict>
</plist>